<div class="card p-3">

  <!-- Header -->
  <div class="d-flex justify-content-between mb-3">
    <h4>Physicians</h4>
    <button class="btn btn-primary">+ Add Physician</button>
  </div>

  <!-- Breadcrumb + Search -->
  <div class="d-flex justify-content-between mb-3">
    <span>Dashboard / Physicians</span>
    <input class="form-control w-25" placeholder="Search physician..." [(ngModel)]="searchText" />
  </div>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let d of filteredDoctors()">
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
        <td>{{d.specialization}}</td>
        <td>{{d.phone}}</td>
        <td>
          <button class="btn btn-warning btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>