<div class="card p-3">

  <div class="d-flex justify-content-between mb-3">
    <h4>Medications</h4>
    <button class="btn btn-primary">+ Add</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Drug ID</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Expiry</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>D001</td>
        <td>Paracetamol</td>
        <td>500</td>
        <td>2026-07-16</td>
      </tr>
    </tbody>
  </table>

</div>