<div class="sidebar">

  <h4 class="logo">🏥 HMS</h4>

  <ul>
    <ng-container *ngFor="let item of menuItems">

      <!-- Section -->
      <p *ngIf="item.section" class="section">
        {{ item.section }}
      </p>

      <!-- Menu Item -->
      <li *ngIf="!item.section" [routerLink]="item.route" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.exact || false }">

        <i class="bi" [ngClass]="item.icon"></i>
        {{ item.label }}

      </li>

    </ng-container>
  </ul>

</div>