.sidebar li {
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar li i {
  font-size: 18px;
}

.sidebar li:hover {
  background: rgba(255,255,255,0.2);
}

.active {
  background: rgba(255,255,255,0.3);
}