.topbar {
  height: 60px;
  background: #1e293b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.user {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  color: black;
  border: 1px solid #ccc;
  z-index: 999; /* 🔥 IMPORTANT */
}

.dropdown div {
  padding: 8px 12px;
}

.dropdown div:hover {
  background: #eee;
}