<div class="card p-3">

  <div class="d-flex justify-content-between mb-3">
    <h4>Rooms</h4>
    <button class="btn btn-primary">+ Add Room</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Room No</th>
        <th>Floor</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>101</td>
        <td>1</td>
        <td>ICU</td>
        <td><span class="badge bg-danger">Occupied</span></td>
      </tr>
      <tr>
        <td>102</td>
        <td>1</td>
        <td>General</td>
        <td><span class="badge bg-success">Available</span></td>
      </tr>
    </tbody>
  </table>

</div>