<div class="row g-4">

  <div class="col-md-3">
    <div class="card text-center p-4">
      <i class="bi bi-people fs-2 text-primary"></i>
      <h6 class="mt-2">Total Patients</h6>
      <h3>{{patientsCount}}</h3>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-center p-4">
      <i class="bi bi-person-badge fs-2 text-success"></i>
      <h6 class="mt-2">Total Physicians</h6>
      <h3>{{doctorCount}}</h3>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-center p-4">
      <i class="bi bi-calendar-check fs-2 text-warning"></i>
      <h6 class="mt-2">Appointments</h6>
      <h3>{{appointmentCount}}</h3>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-center p-4">
      <i class="bi bi-hospital fs-2 text-danger"></i>
      <h6 class="mt-2">Rooms</h6>
      <h3>{{roomCount}}</h3>
    </div>
  </div>

</div>